/* add font because beautiful */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond:ital@0;1&family=Luxurious+Script&family=Poppins:ital,wght@0,700;1,400&family=Roboto+Serif:wght@500;600&display=swap");
body {
  background-color: rgb(17, 11, 11);
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
}
.container {
  background-color: rgb(66, 66, 66);
  width: 600px;
  margin: 20px;
  color: white;
  border-radius: 25px;

  height: 400px;
}
.container header {
  background-color: rgb(29, 29, 29);
  padding: 25px;
  border-radius: 25px 25px 0px 0px;
  font-size: 25px;
  text-align: center;
}
main {
  padding: 10px;
}
main form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "EB Garamond", serif;
}
main form input {
  border-radius: 20px;
  height: 30px;
  margin: 10px;
  width: 80%;
  border: 1px solid rgb(187, 187, 187);
}
main form button {
  width: 10%;
  height: 20px;
  margin: 10px;
  border: none;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(0, 120, 124);
  color: #fff;
  font-weight: bold;
}
